.context {

    background: var(--theme-color-secondary);
    height: 160px;
    width: auto;
}

.logoContext {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.brandResponsive {
    max-height: 110px;
    max-width: 110px;
}