.main {

    display: flex;
    justify-content: center;
}

.panel {

    width: 800px;
    justify-content: center;
}

.searchArea {

    margin-top: -1rem;
    margin-bottom: 3rem;
}

.propsTasks {

    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 736px;
    padding-bottom: 2rem;
    color: white;
}

.propsTasksCreated a {
    
    color: var(--color-blue);
    font-weight: 700;
    font-size: 14px;
}

.propsTasksCreated a span {

    margin-left: 5px;
    padding: 2px 8px;
    background: var(--color-gray-400);
    border-radius: 999px;
    color: var(--color-white);
    font-weight: 700;
    font-size: 12px;
}

.propsTasksChecked a {

    color: var(--color-purple);
    font-weight: 700;
    font-size: 14px;
}

.propsTasksChecked a span {

    margin-left: 5px;
    padding: 2px 8px;
    background: var(--color-gray-400);
    border-radius: 999px;
    color: var(--color-white);
    font-weight: 700;
    font-size: 12px;
}


