.taskMain {

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    margin: 8px 0px;
    height: 37px;
    width: 100%;
    background-color: var(--theme-color-secondary);
    color: white;
}

.taskTitle {

    margin-left: 8px;
}

.taskStatus {

    margin-top: 2px;
    margin-right: 8px;
}

.taskDescription {

    font-weight: normal;
}
