.context {

    display: flex;
    justify-content: center;
}

.context input {

    margin-right: 1rem;
    width: 70vh;
}

form input[type="text"] {

    padding: auto;
    height: auto;
    background: var(--color-gray-500);
    color: var(--color-white);
    font-size: 32px;
}

form button[type="submit"] {

    background: var(--color-blue-dark);
    border-radius: 8px;
    color: white;
    padding: 1rem;
    border: 0;
    cursor: pointer;
}

button a {

    margin-bottom: 10rem;
}